# =============================
# MONITOREO Y TRACKING
# =============================
mlflow==2.12.1
evidently==0.4.16

# =============================
# MACHINE LEARNING
# =============================
scikit-learn==1.3.0
numpy==1.24.3
pandas==2.0.3

# =============================
# UTILIDADES
# =============================
requests==2.31.0
python-dotenv==1.0.0
pyyaml==6.0

# =============================
# DESARROLLO Y DEBUGGING
# =============================
ipython==8.14.0
jupyter==1.0.0

